# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Environment files
monolith/.env

# IDE specific files
.idea
.vscode
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Project specific
docs/
tmp/
logs/
monolith/tools/
monolith/project-files.txt
monolith/

README.md

monolith/semiotic-mender-459813-c9-fdcf02adec5e.json
monolith/session.json