# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Environment files
monolith/.env

# IDE specific files
.idea
.vscode
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Project specific
docs/
tmp/
logs/
monolith/tools/
monolith/project-files.txt
monolith/
tg_app_micserv/tools/
tg_bot_micserv/tools/scripts_start/

start_app.sh
start_docker.sh

README.md
tg_bot_micserv/readme.txt
text_to_speech_micserv/readme.txt
text_to_speech_micserv/semiotic-mender-459813-c9-fdcf02adec5e.json

monolith/semiotic-mender-459813-c9-fdcf02adec5e.json
monolith/session.json